@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');  
*{
  padding:0px;
  margin: 0px;
  text-decoration: none;
  font-family: 'Poppins',Sans-Serif;
}
.body
{
  justify-content: content;
  align-items: center;
  
}


/* First Part */

nav
{
 
 height: 80px;
 width: 80%;
 position: fixed;
 margin-left: 10%;

 
}

.headpart
    {
        background-color:  #819ef3;
        height: 80px;
        width: 100%;
        box-shadow: 0 5px  6px #d4d4d4;
       }
       

.college{


    width: 100%;
    background-color: GhostWhite;
    display: flex;
    height: 60px;
    display: column;
}
.rizvi{
    height: 50px;
    width: 300px;
    padding-left: 20px;
    padding-top: 3px;
    margin-right: 50px;
}
#mar{
    padding:20px;
    
    font-family: Sans-Serif;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 4px;
    color: rgb(245, 66, 66);
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
}


.logo{
    height:190px;
    padding: 0 15px;
    line-height: 80px;
    margin-top: -45px;


}


    .headpart:after{
        content:'';
        clear:both;
        display: table;
    }
    .headpart ul{
        padding-top: 20px;
        float: right;
        list-style: none;
        margin-right:140px;
        position: relative;
    }
    .headpart ul li {
        float: left;
        background: rgb(252, 31, 31) ;
        display: inline-block;
        margin: 30px 7px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;

        
    }
    .headpart ul li a{
        color: white;
        text-decoration: none;
        line-height: 40px;
        font-size: 16px;
        padding: 8px 15px;
        font-size: 14px;

        
    }
    .headpart ul li a:hover{
        color:white;
        background-color: none;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        box-shadow: 0 0 7px white ;
    }
    .headpart ul ul li a:hover{
        color:red;
        box-shadow: none;
        border:none;
        

    }
    .headpart ul li:hover > ul{
        opacity: 1;
        visibility: visible;

    }
    .headpart ul ul {
        position: absolute;
        opacity:0;
        visibility: hidden;
        transition: top 0.3s;
    }
    .headpart ul ul li{

        position: relative;
        margin: 0px;
        width: 110px;
        float: none;
        display: list-item;
        text-align: center;
        background-color:rgb(224, 92, 92);
        


        
    }
    .headpart ul ul ul  li{
        position: relative;
        top: -60px;
        left:111px;
        
        
    }
    #ID{
        
        border-radius:1px;
        background-color:rgb(204, 201, 201);
        border-bottom: 0.5px solid white;
    }

.content
{
    position: relative;
    margin-left: 10%;
    width:80%;
    display: flex;
    align-items: center;
    z-index:-1;
    padding-top:40px;
}
.content .textBox
{
    position: relative;
    max-width: 50%;
    padding-left: 20px;
    padding-top: 50px;
}
    
.content .textBox h3 
{
    padding-bottom: 5px;
    color:black;
    font-size: 3em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}  
.content .textBox h3 span
{
    font-size: 1.5em;
    color:red;
}
.content .textBox p
{
    color:LightSlateGray;
    padding-bottom: 10px;
    font-size: 17px;
    letter-spacing: 2px;
    
}

 .allcourse #all
{
    display: inline-block;  
    margin-top: 10px;
    padding:8px 20px;
    background: black;
    color:white;
    border-radius: 20px;
    font-weight: 600;
    box-shadow: 0  0  5px 5px rgb(230, 228, 228);
    letter-spacing: 1px;
    text-transform: uppercase; 
    cursor: pointer;
    transition: 0.5s;
}
 .allcourse #all :hover{
    color:white;
    background-color: RoyalBlue;
    transform: translateY(15px);
}
 
.content .imgBox
{
    width: 48%;
    height: 450px;
    display: flex;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 110px;
    margin-top: 20px;
    justify-content: flex-end;
    
}
.content .imgBox img
{
    max-width:500px;
    border-bottom:5px solid black;
}


/* Starting of  Second Part */

.head{
    width: 80%;
    margin-left: 10%;
}
.head h3{
   
    text-align: center;
    font-size: 30px;
    font-family: Arial;
    font-weight: 500;
    padding-top: 50px;
    padding-bottom: 10px;
    margin-top: 50px;
    border-top: 1px solid black;
    background-color:white;
}

.head p{
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    color:LightSlateGray;

}

.courses{
        display: flex;
        align-items: center;
}
/*  Starting of  First Card  */

.card1 {
    height:259px;
    width: 200px;
    margin-left: 7%;
    margin-right: 3%;
    margin-top: 50px;
    box-shadow:0 5px 20px LightSkyBlue;
    border-radius: 30px;
}
.card1 img{
    padding-top: 8px;
    height: 100px;
    width: 200px;
    border-radius: 30px;
}
.card1 h2{
    text-align: center;
}
.card1 h4{
    text-align: center;
    font-size: 15px;
    padding-bottom: 10px;
}
.card1 #but1{
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    padding-left: 60px;
    padding-right: 59.2px;
    width: 200px;
    color:white;
    border-bottom-left-radius:30px ;
    border-bottom-right-radius:30px ;
    background-color: black;
}

/* Ending of First Card */


/*  Starting of  Second Card  */

.card2 {
    height:259px;
    width: 200px;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 50px;
    box-shadow:0 5px 20px LightSkyBlue;
    border-radius: 30px;
    
}
.card2 img{
    height: 110px;
    width: 200px;
    border-radius: 30px;
}
.card2 h2{
    text-align: center;
}
.card2 h4{
    text-align: center;
    font-size: 15px;
    padding-bottom: 10px;
}
.card2 #but2{
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    padding-left: 60px;
    padding-right: 59.2px;
    width: 200px;
    color:white;
    border-bottom-left-radius:30px ;
    border-bottom-right-radius:30px ;
    background-color: black;
}

/* Ending of Second Card */


/*  Starting of  Third Card  */

.card3 {
    height:259px;
    width: 200px;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 50px;
    box-shadow:0 5px 20px LightSkyBlue;
    border-radius: 30px;
    
}
.card3 img{
    height: 109px;
    width: 200px;
    border-top-left-radius:30px ;
    border-top-right-radius:30px ;
}
.card3 h2{
    text-align: center;
}
.card3 h4{
    text-align: center;
    font-size: 15px;
    padding-bottom: 10px;
}
.card3 #but3{
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    padding-left: 60px;
    padding-right: 59.2px;
    width: 200px;
    color:white;
    border-bottom-left-radius:30px ;
    border-bottom-right-radius:30px ;
    background-color: black;
}

/* Ending of Third Card */

/*  Starting of  Fourth Card  */

.card4 {
    height:259px;
    width: 200px;
    margin-right: 7%;
    margin-left: 3%;
    margin-top: 50px;
    box-shadow:0 5px 20px LightSkyBlue;
    border-radius: 30px;
    
}
.card4 img{
    height: 109px;
    width: 200px;
    border-top-left-radius:30px ;
    border-top-right-radius:30px ;
}
.card4 h2{
    text-align: center;
}
.card4 h4{
    text-align: center;
    font-size: 15px;
    padding-bottom: 10px;
}
.card4 #but4{
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    padding-left: 60px;
    padding-right: 59.2px;
    width: 200px;
    color:white;
    border-bottom-left-radius:30px ;
    border-bottom-right-radius:30px ;
    background-color: black;
}

/*  Ending of Fourth Card  */

/*  Ending of Second Part  */


/* Starting of Third Part */
.thirdpart{
    margin-top: 90px;
    display: flex;
    width: 80%;
    margin-left: 10%;
    height: 580px;
    background-color:HoneyDew;
}
/* Starting of left Part */
.left img {
    padding-top:10%;
    height: 500px;
    width: 600px;
    margin-left: 10%;
}

/* Starting of right part */

/* Starting of right Part */

.right{
    padding-top:90px;
    height: 500px;
    width: 700px;
    margin-left: 10%;
    
}
.right h2{
    font-size: 40px;
    color:RoyalBlue;
}
.right p{
    font-size: 20px;
    padding-bottom: 40px;
}
#run{
    padding: 8px;
    padding-right: 20px;
    padding-left: 20px;
    border:none;
    border-radius:30px;
    color:white;
    background-color: black;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
}
 #run:hover{
    color:white;
    background-color: RoyalBlue;
    transform: translateY(-15px);
}

/* Ending of right part */

/* Ending of Third part */


/* Starting of Fourth part */
.fourthpart{
    height: 700px;
    width: 80%;
    margin-left: 10%;
    padding-top: 30px;
    

}
.part2{
    display: flex;
    
}
.part_a{
    margin-left:6%;
    margin-top: 100px;
}
.part h1{
     font-size:30px;
     text-align: center;
     padding-top: 90px;
     
    
}
.part_a p{

    width: 260px;
    color:LightSlateGray;
    text-align: left;
}
.part_a h3{
    width: 260px;
    color:black;
    padding-bottom: 20px;
}



.part_b{
    margin-left: 10%;
    margin-top: 100px;
}
.part_b p{

    width: 260px;
    color:LightSlateGray;
    text-align: left;
}
.part_b h3{
    width: 260px;
    color:black;
    padding-bottom: 20px;
}




.part_c{
    margin-left: 10%;
    margin-top: 100px;
}
.part_c p{

    width: 260px;
    color:LightSlateGray;
    text-align: left;
}
.part_c h3{
    width: 260px;
    color:black;
    padding-bottom: 20px;
}




.lastpart{
    height: 500px;
    width: 80%;
    margin-left: 10%;
    background-color:#f1f1f1;
    display: flex;
}

.tutorial{
    color:black;
    padding-left: 10%;
    padding-top: 100px;
}
.tutorial h3{
    padding-bottom: 30px;
}
.tutorial p{
        padding-bottom: 15px;
}
.tutorial p a{
    color:black;
}
.tutorial a:hover{
    text-decoration: none;
    color: blue;
    box-shadow: none;
    border:none;
}

.example{
    color:black;
    padding-left: 15%;
    padding-top: 100px;
}
.example h3{
    padding-bottom: 30px;
}
.example p{
        padding-bottom: 15px;
}
.example p a{
    color:black;
}

.example a:hover{
    text-decoration: none;
    color: blue;
    box-shadow: none;
    border:none;
}


.register{
    color:rgb(231, 60, 60);
    margin-left: 16%;
    margin-top: 100px;
    height: 250px;
    width: 300px;
    background-color:none;
}
.register h1{
    padding: 15px;
    color: black;
    text-align: center;
    background-color:none;

}
.form-control{
    outline: none;
    font-size:16px;
    margin-bottom: 16px;
}
input{

    margin-top: 10px;
    height: 40px;
    width: 100%;
    background-color: transparent; 
    border-bottom: 1px solid black;
    border-left: none;
    border-top: none;
    border-right: none;

    


}
.submit{
    background-color:red;
    border-color: transparent;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 40px;
    margin-top: 10px;
    width: 100%;
    color: white;

}
.submit:hover{
    background-color: rgb(192, 218, 211);
    cursor: pointer;
}
.follow{
    border-top:1px solid rgb(240, 187, 187);
    background-color:   #819ef3;
    height: 150px;
    width: 80%;
    margin-left: 10%;
}

h5{
    font-family: Sans-Serif;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 4px;
    padding: 20px 0 40px;
    color:white;
    text-align:center;
    
    
}
.social-media{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
}
.social-media a{
    display: flex;
    background: #e3edf7;
    height: 40px;
    width: 40px;
    margin: 0 15px;
    border-radius:8px;
    align-items:center;
    justify-content: center;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
               -6px -6px 10px -1px rgba(116, 160, 243, 0.7);
   transition: transform 0.5s;
}
a i{
    font-size: 25px;
    color: #777;
    transition: transform 0.5s;
    text-decoration: none;
}
a:hover{
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,15),
                0px 12px 10px -10px rgba(235, 143, 143, 0.5);
    border:0px solid rgba(0,0,0,0.1);  
    transform: translateY(2px);
}
a:hover i{
    transform: scale(0.90);
}
a:hover .fa-facebook{
    color:#3b5998;
}

a:hover .fa-twitter{
    color:#00acee;
}

a:hover .fa-instagram{
    color:#f14843;
}

a:hover .fa-whatsapp{
    color:#4fce5d;
}

a:hover .fa-youtube{
    color:#f00;
}

